html {
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

textarea {
  display: flex;
  margin: 0 auto;
}

#editor {
  width: 65vh;
  height: 10vh;
}

th {
  border-bottom: solid 2px black;
  margin: 3rem;
  padding: 3rem;
  /* box-shadow: 1px; */
}

td {
  margin: 3rem;
  padding: 3rem;
  border: dashed 1px grey;
}
